/*reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*generics*/

body{
    padding-top: 100px;
    font-family: "PT Sans", sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1080px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

/*Header*/

/*NAVBAR*/

.navbar{
    height: 80px;
    background-color: #0084fd;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

.navbar-elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar-elements .hamburger-menù{
    display: none;
}

.navbar-list{
    display: flex;
}

.navbar-list li{
    padding: 0 10px;
}

.navbar-list li:last-child a{
    background-color: white;
    color: black;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 20px;
}

/*CARDS*/

.row-h{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.col-h {
    flex-basis: calc(100% / 5);
    background-color: #b5ddff;
    border-radius: 20px;
    padding: 20px;
}

.col-h:first-child{
    flex-basis: 40%;
    flex-grow: 2;
}
  
.card-h {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px}
  
.card-h-content h3 {
    color: #0084fd;
    padding: 10px 0;
    flex-grow: 2;
}
  
.card-h-content p {
    padding: 20px 0;
}
  
.card-h-content a {
    background-color: #0084fd;
    padding: 5px 10px;
    border-radius: 20px;
}
  
.card-h img {
    width: 100%;
    height: auto;
}

.card-h i, .card-h h3{
    color: #0084fd;
    padding: 20px 0;
}

.card-h i{
    font-size: 40px;
}

.card-h p{
    padding-bottom: 10px;
    text-align: center;
}

/*Responsive*/

@media screen and (min-width: 365px) {
    .container{
        max-width: 340px;
    }

    .navbar-elements .hamburger-menù{
        display: block;
        color: white;
    }

    .navbar-list{
        display: none;
    }
}

@media screen and (min-width: 480px) {
    .container{
        max-width: 450px;
    }

    .navbar-elements .hamburger-menù{
        display: block;
        color: white;
    }

    .navbar-list{
        display: none;
    }
}

@media screen and (min-width: 576px) {
    .container{
        max-width: 540px;
    }

    .navbar-elements .hamburger-menù{
        display: block;
        color: white;
    }

    .navbar-list{
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .container{
        max-width: 740px;
    }

    .navbar-elements .hamburger-menù{
        display: block;
        color: white;
    }

    .navbar-list{
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .container{
        max-width: 840px;
    }

    .navbar-elements .hamburger-menù{
        display: none;
    }

    .navbar-list{
        display: flex;
    }
}

@media screen and (min-width: 1200px) {
    .container{
        max-width: 1080px;
    }

    .navbar-elements .hamburger-menù{
        display: none;
    }

    .navbar-list{
        display: flex;
    }
}

