/*reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*generics*/

body{
    padding-top: 100px;
    font-family: "PT Sans", sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1080px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

/*Header*/

/*NAVBAR*/

.navbar{
    height: 80px;
    background-color: #0084fd;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

.navbar-elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar-elements .hamburger-menù{
    display: none;
}

.navbar-list{
    display: flex;
}

.navbar-list li{
    padding: 0 10px;
}

.navbar-list li:last-child a{
    background-color: white;
    color: black;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 20px;
}

/*CARDS*/

.row-h{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding: 50px 0;
}

.col-h {
    flex-basis: 32%;
    background-color: #b5ddff;
    border-radius: 20px;
    padding: 20px;
}
  
.card-h {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px}



.flex{
    display: flex;
    align-items: center;
    flex-basis: 50%;
}

.card-h-content h3 {
    color: #0084fd;
    padding: 10px 0;
    flex-grow: 2;
}
  
.card-h-content p {
    padding: 20px 0;
    color: #5a6e7f;
}
  
.card-h-content a {
    background-color: #0084fd;
    padding: 5px 10px;
    border-radius: 20px;
}
  
.col-h img {
    width: 100%;
    height: 200px;
}

.card-h i, .card-h h3{
    color: #0084fd;
    padding: 20px 0;
}

.card-h p{
    padding-bottom: 10px;
    color: #5a6e7f;
}

.card-h-content i{
    color: white;
}

.col-h:first-child{
    flex-basis: 65%;
}

/*MAIN*/

/*JUMBOTRON*/

.jumbotron{
    background-color: #9792e4;
}

.row-j{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 50px 0;
}

.col-j-first{
    flex-basis: 50%;
    color: white;
}

.col-j-first img{
    width: 100%;
}

.col-j-second{
    flex-basis: 50%;
    margin: 0 30px;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
}

.col-j-first h2, .col-j-first p{
    padding: 30px 0;
}

.card-j-second{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col-j-second h2, .col-j-second p{
    padding: 10px 0;
}

.col-j-second img{
    height: 315px;
    width: 100%;
    margin-bottom: 20px;
}

.card-j-second .fa-solid.fa-arrow-down {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #9792e4;
}

/*TESTIMONIALS*/

.testimonials{
    padding: 50px 0;
}

/*TESTIMONIALS TITLE*/

.test-top{
    text-align: center;
}

.test-top h4, p{
    margin-bottom: 40px;
}

.test-top h2{
    margin-bottom: 40px;
    font-size: 45px;
    color: #9792e4;
}

.test-top p{
    font-size: 15px;
}

/*TESTIMONIALS TEXT AND PICTURES*/

.test-row{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.col-test{
    padding-bottom: 40px;
}

.card-test{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #9792e4;
    border-radius: 20px;
    padding: 20px;
}

.card-t-img1{
    width: 200px;
    height: 200px;
    background-image: url('../img/testimonial1.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    padding: 70px;
}

.card-t-img2{
    width: 200px;
    height: 200px;
    background-image: url('../img/testimonial2.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    padding: 70px;
}

.card-t-img3{
    width: 200px;
    height: 200px;
    background-image: url('../img/testimonial3.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    padding: 70px;
}

.card-t-text{
    color: white;
    padding: 0 40px;
}

.card-t-text i{
    padding: 0 5px;
}

.card-t-text h5{
    padding: 10px 0;
    font-size: 20px;
}

/*BENEFITS SECTION*/

.benefits{
    background-color: #9792e4;
}

/*BENEFITS TITLE*/

.ben-top h2{
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 40px 0;
}

/*BENEFITS CARDS*/

.ben-row{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.col-ben{
    flex-basis: calc(100% / 3 - 20px);
    background-color: white;
    border-radius: 20px;
}

.card-ben{
    padding: 20px;
}

.col-ben h2, h3{
    color: #9792e4;
    padding: 10px 0;
}

.col-ben h2{
    font-size: 60px;
}

.col-ben a{
    background-color: #9792e4;
    padding: 10px 50px;
    border-radius: 20px;
}

/*INFO ABOUT US SECTION*/

.info{
    display: flex;
    padding: 40px 0;
    border: 2px dashed red;
}

/*INFO LEFT*/

.info-left{
    flex-basis: 70%;
}

.info-left h2{
    color: #9792e4;
    font-size: 60px;
    padding: 30px 0;
}

/*INFO RIGHT*/

.info-right{
    flex-basis: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-img {
    position: relative;
    background-image: url('../img/about.jpg');
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }
  
  .bg-img i {
    position: absolute;
    color: #9792e4;
    font-size: 60px;
    width: 100%;
    height: 100%;
  }



/******************************
RESPONSIVE
*******************************/

@media screen and (min-width: 365px) {
    .container{
        max-width: 340px;
    }

    .navbar-elements .hamburger-menù{
        display: block;
        color: white;
    }

    .navbar-list{
        display: none;
    }

    /*jumbotron*/
    .row-j{
        display: flex;
        flex-direction: column;
    }
    /*testimonials*/

    .card-test{
        display: flex;
        flex-direction: column;
    }
    /*benefits Card*/

    .ben-row{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 480px) {
    .container{
        max-width: 450px;
    }

    .navbar-elements .hamburger-menù{
        display: block;
        color: white;
    }

    .navbar-list{
        display: none;
    }

    /*jumbotron*/
    .row-j{
            display: flex;
            flex-direction: column;
    }

    /*testimonials*/

    .card-test{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 576px) {
    .container{
        max-width: 540px;
    }

    .navbar-elements .hamburger-menù{
        display: block;
        color: white;
    }

    .navbar-list{
        display: none;
    }

    /*jumbotron*/
    .row-j{
        display: flex;
        flex-direction: column;
    }

    /*testimonials*/

    .card-test{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .container{
        max-width: 740px;
    }

    .navbar-elements .hamburger-menù{
        display: block;
        color: white;
    }

    .navbar-list{
        display: none;
    }
    /*jumbotron*/
    .row-j{
        display: flex;
        flex-direction: column;
    }

    /*testimonials*/

    .card-test{
        display: flex;
        flex-direction: row;
    }

    /*benefits Card*/

    .ben-row{
        display: flex;
        flex-direction: row;
    }

    .col-ben{
        flex-basis: calc(100% / 2 - 20px);
    }
}

@media screen and (min-width: 992px) {
    .container{
        max-width: 840px;
    }

    .navbar-elements .hamburger-menù{
        display: none;
    }

    .navbar-list{
        display: flex;
    }
    /*jumbotron*/
    .row-j{
        display: flex;
        flex-direction: row;
    }

    /*benefits Card*/

    .col-ben{
        flex-basis: calc(100% / 3 - 20px);
    }
}

@media screen and (min-width: 1200px) {
    .container{
        max-width: 1080px;
    }

    /*navbar*/
    .navbar-elements .hamburger-menù{
        display: none;
    }

    .navbar-list{
        display: flex;
    }

    /*jumbotron*/
    .row-j{
        display: flex;
        flex-direction: row;
    }

    /*benefits Card*/

    .col-ben{
        flex-basis: calc(100% / 3 - 20px);
    }
}

